
<ion-content>
  <div id="register-div">

    <header-component title="Registro"></header-component>

    <form [formGroup]="loginForm" (submit)="createUser()">
        <ion-item>
          <ion-icon name="mail" color="if" slot="start"></ion-icon>
          <ion-input formControlName="nome" type="text" placeholder="Nome"></ion-input>
        </ion-item>

        <ion-item>
          <ion-icon name="mail" color="if" slot="start"></ion-icon>
          <ion-input formControlName="snome" type="text" placeholder="Sobrenome"></ion-input>
        </ion-item>


        <ion-item>
          <ion-icon name="mail" color="if" slot="start"></ion-icon>
          <ion-input formControlName="email" type="text" placeholder="E-mail"></ion-input>
        </ion-item>

        <ion-item>
          <ion-icon name="lock-closed" color="if" slot="start"></ion-icon>
          <ion-input formControlName="password" type="text" placeholder="Senha"></ion-input>
        </ion-item>

        <ion-item>
          <ion-icon name="mail" color="if" slot="start"></ion-icon>
          <ion-input formControlName="confirm_pass" type="text" placeholder="Confirme sua senha"></ion-input>
        </ion-item>



        <ion-button [disabled]="loginForm.invalid" type="submit" expand="block" color="if">Solicitar</ion-button>
    </form>

  </div>


</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button [routerLink]="['/auth']" fill="clear" color="medium">Voltar</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
