<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      iFinanças
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-item>
      <ion-label>Data</ion-label>
      <ion-datetime displayFormat="MM/YYYY" pickerFormat="MMMM YYYY" [(ngModel)]="date" (ngModelChange)="atualizaContas()"></ion-datetime>
    </ion-item>

    <dash-card
      num={{conta.pagar.num}}
      tipo="pagar"
      valor={{conta.pagar.valor}}
    ></dash-card>

    <dash-card
      num={{conta.receber.num}}
      tipo="receber"
      valor={{conta.receber.valor}}
    ></dash-card>

    <dash-card
      num={{conta.saldo.num}}
      tipo="saldo"
      valor={{conta.saldo.valor}}
    ></dash-card>


    <div id="btnMenu">
      <ion-button expand="block" [routerLink]="['/contas/pagar']">Contas a pagar</ion-button><br>
      <ion-button expand="block" [routerLink]="['/contas/receber']">Contas a receber</ion-button>
    </div>
</ion-content>

