
<ion-content>
  <div id="forgot-div">

    <header-component title="Esqueci minha senha"></header-component>

    <form [formGroup]="loginForm" (submit)="recoverPass()">
        <ion-item>
          <ion-icon name="mail" color="if" slot="start"></ion-icon>
          <ion-input formControlName="email" type="text" placeholder="E-mail"></ion-input>
        </ion-item>

        <ion-button [disabled]="loginForm.invalid" type="submit" expand="block" color="if">Solicitar</ion-button>
    </form>

  </div>


</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button [routerLink]="['/auth']" fill="clear" color="medium">Voltar</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
